body {
   margin: 0;
   font-family: Arial;
   background: #0a0f1f;
   color: white;
}

/* NAVBAR */
.navbar {
   display: flex;
   justify-content: space-between;
   padding: 15px 20px;
   background: #111a33;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar a {
   color: #00f7ff;
   margin-left: 15px;
   text-decoration: none;
   font-weight: bold;
}

.navbar a:hover {
   color: #00ff9d;
}